@import "../../css/units.css";
@import "../../css/colors.css";
.stage-wrap{
    margin: 0 0px;
    background: #F9F9F9;
}

.stage-canvas-wrapper {
    /* Hides negative space between edge of rounded corners + container, when selected */
    user-select: none;
}
