.stage-only {
    width: calc(480px + 1rem);
}

.editor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(480px + 1rem);
}

.stage-only * {
    box-sizing: border-box;
}
